faster-whisper
Flask                     
Flask-SocketIO            
flatbuffers               
flet                      
flet-core                 
flet-runtime              
fonttools                 
frozenlist                
greenlet                  
gTTS                      
huggingface-hub           
humanfriendly             
importlib-metadata        
install                   
ipykernel                 
ipython                   
itsdangerous              
jedi                      
Jinja                    
joblib                    
jsonpatch                 
jsonpointer               
jsonschema                
jsonschema-specifications 
jupyter_client            
jupyter_core              
kiwisolver                
langchain                 
langchain-community       
langchain-core            
langchain-text-splitters  
langsmith                 
markdown-it-py            
MarkupSafe                
marshmallow               
matplotlib                
matplotlib-inline         
mdurl                     
mpmath                    
multidict                 
mypy-extensions           
nest-asyncio              
networkx                  
nltk                      
numpy                     
oauthlib                  
onnxruntime               
orjson                    
packaging                 
pandas                    
parso                     
Pillow                    
pip                       
platformdirs              
pocketsphinx              
prompt-toolkit            
protobuf                  
psutil                    
pure-eval                 
pvporcupine               
pyarrow                   
PyAudio                   
pycparser                 
pydantic                  
pydantic_core             
pydeck                    
pydub                     
pygame                    
Pygments                  
pyparsing                 
pypiwin                 
pypng                     
pyreadline               
python-dateutil           
python-engineio           
python-slugify            
python-socketio           
pyttsx                   
pytz                      
pywin                   
PyYAML                    
pyzmq                     
qrcode                    
referencing               
regex                     
repath                    
requests                  
rich                      
rpds-py                   
safetensors               
