faster-whisper
Flask                     
Flask-SocketIO            
flatbuffers               
                
                
huggingface-hub           
jsonify                   
gunicorn
jsonpatch                 
jsonpointer               
jsonschema                
jsonschema-specifications 
jupyter_client            
jupyter_core              
kiwisolver                
langchain                 
langchain-community       
langchain-core            
langchain-text-splitters  
langsmith                 
markdown-it-py            
MarkupSafe                
marshmallow               
matplotlib                
matplotlib-inline         
mdurl                     
mpmath                    
multidict                 
mypy-extensions           
nest-asyncio              
networkx                  
nltk                      
numpy                     
                     
platformdirs              
pocketsphinx              
prompt-toolkit            
protobuf                  
psutil                    
pure-eval                 
pvporcupine               
pyarrow                   
                 
pycparser                 
pydantic                  
pydantic_core             
                
pyparsing                 
                

python-socketio           
              
              
regex                     
repath                    
requests                  
                 
safetensors               
